@{
    ViewData["Title"] = "Home Page";
}

<div class="my-auto flex flex-col gap-10 text-center">
    <span class="text-3xl font-semibold">PizzeriaApp by: Marcin Włodyka</span>

    <span class="text-2xl">Index: 13860</span>
</div>