@model Pizza
@{
    ViewData["Title"] = "Edit Pizza";
}

<form
  method="post"
  asp-action="Edit"
  asp-asp-controller="Pizza"
  class="w-3/4 p-10 my-auto flex flex-col justify-center gap-10 bg-black border-b-2 border-red-500 rounded-lg shadow-lg shadow-black"
>
  <h3 class="text-3xl font-semibold">Create new pizza</h3>

  <input asp-for="Id">

  <div class="relative flex flex-col">
    <label asp-for="Name" class="ml-2"></label>

    <input
      asp-for="Name"
      class="py-2 px-4 bg-white/5 border border-white/20 rounded-lg focus:border-red-500 focus:outline-0"
    >

    <span
      asp-validation-for="Name"
      class="absolute left-2 bottom-0 translate-y-full text-red-500 text-xs"
    ></span>
  </div>

  <div class="relative flex flex-col">
    <label asp-for="Ingredients" class="ml-2"></label>

    <input
      asp-for="Ingredients"
      class="py-2 px-4 bg-white/5 border border-white/20 rounded-lg focus:border-red-500 focus:outline-0"
    >

    <span
      asp-validation-for="Ingredients"
      class="absolute left-2 bottom-0 translate-y-full text-red-500 text-xs"
    ></span>
  </div>

  <div class="relative flex flex-col">
    <label asp-for="Image" class="ml-2"></label>

    <input
      asp-for="Image"
      class="py-2 px-4 bg-white/5 border border-white/20 rounded-lg focus:border-red-500 focus:outline-0"
    >

    <span
      asp-validation-for="Image"
      class="absolute left-2 bottom-0 translate-y-full text-red-500 text-xs"
    ></span>
  </div>

  <div class="mt-10 flex gap-5">
    <button
      type="submit"
      class="py-2 px-4 bg-red-500 rounded-lg"
    >
      Save
    </button>

    <a
      asp-controller="Pizza"
      asp-action="Index"
      class="py-2 px-4 bg-black border border-white/20 rounded-lg"
    >
      Cancel
    </a>
  </div>
</form>
