@model Dictionary<int, Pizza>

<div class="w-full flex flex-col gap-8">
  @foreach (var entry in @Model)
  {
    var pizza = entry.Value;

    <div class="h-[15vh] p-5 flex gap-3 bg-black border-b-2 border-red-500 rounded-lg">
      <img
        src="@pizza.Image"
        alt="Pizza image"
        class="h-full aspect-square object-cover rounded-md"
      />

      <div class="flex flex-col">
        <h3 class=" text-2xl">@pizza.Name</h3>

        <span class="text-white/60">@pizza.Ingredients</span>
      </div>
    </div>
  }

  <div class="my-2 flex justify-center gap-6">
    <span class="h-3 w-3 bg-white/5 rounded-full"></span>

    <span class="h-3 w-3 bg-white/5 rounded-full"></span>

    <span class="h-3 w-3 bg-white/5 rounded-full"></span>
  </div>

  <a href="/pizza/add" class="h-[15vh] p-5 pt-0 flex flex-col justify-center items-center bg-white/5 border border-transparent rounded-lg hover:bg-black hover:border-red-500 group">
    <span class="text-7xl text-white/40 group-hover:text-red-500">+</span>

    <span class="text-white/40 group-hover:text-red-500">Add new pizza</span>
  </a>
</div>